html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #00a381;
}
.button_design{
  padding:10px;
  border-radius: 50% 50% 50% 50%;
  background-color: rgba(255, 0, 0, 0);
  border: solid 1px;
  transition:background-color 0.3s ease;
  margin-left: 6%;
}
.button_design:hover{
background-color: rgba(0, 0, 0, 0.3);
}
.task{
  height:100%;
}
.task-table {
    height: 81.5%;
    width: 89.5%;
    border: solid 10px;
    margin-top: 5%;
    margin-bottom: 30px;
    background-color: #e83929;
    float: left;
    margin-left: 4.5%;
}
.date {
    margin-left: 3%;
    margin-top: 2%;
}
.before {
    position: absolute;
    margin-left: 1%;
    width: 21%;
    border-right: solid 1px;
    word-wrap: break-word;
    height: 71%;
    background-color: #e83929;
    overflow-y: auto;
    padding-right: 1%;
}
.before input{
  margin-bottom:8%;
}
.before li{
  
  list-style: none;
}
.after {
    position: absolute;
    margin-left: 24%;
    word-wrap: break-word;
    width: 20%;
    height: 71%;
    padding-right: 1%;
    background-color: #e83929;
    overflow-y: auto;
}
.after input{
  margin-bottom:8%;
}
.after li{

  list-style: none;
}
.problem {
    margin-left: 46.2%;
    position: absolute;
    width: 20%;
    border: solid 1px;
    background-color: orange;
    word-wrap: break-word;
    height: 81.3%;
    padding-right: 1%;
    overflow-y: auto;
}
.problem input {
    margin-left: 5%;
    margin-bottom:8%;
}
.problem h3{
  margin-top: 2%;
  margin-left:2%;
}
.problem li {
    list-style: none;
}
.answer {
    margin-left: 67.3%;
    position: absolute;
    width: 20%;
    border: solid 1px;
    background-color: yellow;
    word-wrap: break-word;
    height: 81.3%;
    padding-right: 1%;
    overflow-y: auto;
}
.answer input {
    margin-left: 5%;
    margin-bottom:8%;
}
.answer h3{
  margin-top: 2%;
  margin-left:2%;
}
.answer li{

    list-style: none;
}
